@model List<ChuoiCuaHangTraSua.Models.Model.DanhGiaModel>
<div class="danhsachbinhluan">
    <div class="title">
        <span>Nhận xét của khách hàng về sản phẩm</span>
    </div>
    <table width="100%" class="table table-condensed">
        @foreach (var item in Model)
        {
            <tr width="100%">
                <td width="20%"><span>tên đăng nhập</span></td>
                <td width="60%"><span>bình luận 1 bình luận 1 bình luận 1 bình luận 1 bình luận 1 bình luận 1 bình luận 1 bình luận 1 bình luận 1 bình luận 1</span></td>
                <td width="20%"><span>5 phút trước </span></td>
            </tr>
        }
        


    </table>
</div>
